@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}  
:root {
    --container-width: 83%;
    --main-red: #cc0000;
    --gold-btn: #ef9b08;
    --main-back: #eeeff0;
    --text-main: #000;
    --table-first: #ffebee;
    --table-sec: #ffcdd2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--text-main, #000);
}
a {
    text-decoration: none;
}

body {
    background-color: var(--main-back);
}

h1 {
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-size: 2.5vw;
    font-weight: 700;
}

h2 {
    color: var(--text-main, #000);
    font-size: 1.56vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.56vw;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

header,
footer {
    background-color: var(--main-red, #cc0000);
    padding: 0.52vw 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-red, #cc0000);
    padding: 0.52vw 0;

}
footer .container {
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-size: 0.83vw;
}

.logo {
    width: 9.38vw;
}
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

header nav ul a {
    color: var(--main-back, #eeeff0);
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.5s all ease;
}
header nav ul a:hover {
    color: var(--gold-btn, #ef9b08);
}

.active {
    color: var(--gold-btn, #ef9b08);
}

.btn {
    text-decoration: none;
    color: var(--main-back, #eeeff0);
    display: flex;
    padding: 0.52vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.52vw;
    background-color: var(--gold-btn, #ef9b08);
    font-weight: 700;
    font-size: 0.83vw;
    text-transform: uppercase;
    transition: 0.5s all ease;
}
.link:hover .btn,
.btn_slide:hover {
    background-color: var(--main-back, #eeeff0);
    color: var(--gold-btn, #ef9b08);
    outline: 1px var(--gold-btn, #ef9b08) solid;
}

.nsticky {
position: fixed;
top: 0;
width: 100%;
}
/* slider */
#slider {
    position: relative;
}
.slide_block {
    opacity: 0;
    background-position: center 70%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 50vw 0px 22.6vw 12.6vw rgba(0, 0, 0, 0.7);
    transition: 0.8s all ease;
    z-index: -1;
}
.slide1 {
    background-image: url("./slide/slide1.webp");
}
.slide2 {
    background-image: url("./slide/slide2.webp");
    position: absolute;
    top: 0;
}
.slide3 {
    background-image: url("./slide/slide3.webp");
    position: absolute;
    top: 0;
}
.showed {
    opacity: 1;
    z-index: 0;
}
.chip_back {
    position: absolute;
    width: 3.13vw;
    z-index: 1;
}
.chip_back.small {
    position: absolute;
    width: 1.82vw;
}
.chip_back:nth-child(1) {
    top: 2.24vw;
    left: 5.21vw;
}
.chip_back:nth-child(2) {
    top: 1.35vw;
    left: 39.43vw;
}
.chip_back:nth-child(3) {
    top: 1.25vw;
    right: 22.08vw;
}
.chip_back:nth-child(4) {
    top: 2.14vw;
    right: 11.67vw;
}
.chip_back:nth-child(5) {
    top: 5.73vw;
    left: 15vw;
}
.chip_back:nth-child(6) {
    top: 4.06vw;
    left: 24.69vw;
}
.chip_back:nth-child(7) {
    top: 4.06vw;
    right: 39.43vw;
}
.chip_back:nth-child(8) {
    top: 12.4vw;
    left: 1.88vw;
}
.chip_back:nth-child(9) {
    top: 12.97vw;
    right: 31.15vw;
}
.chip_back:nth-child(10) {
    top: 9.48vw;
    right: 19.48vw;
}
.chip_back:nth-child(11) {
    bottom: 11.61vw;
    left: 5.83vw;
}
.chip_back:nth-child(12) {
    bottom: 9.84vw;
    left: 41.88vw;
}
.chip_back:nth-child(13) {
    bottom: 7.66vw;
    right: 44.74vw;
}
.chip_back:nth-child(14) {
    bottom: 7.66vw;
    right: 16.3vw;
}
.chip_back:nth-child(15) {
    bottom: 3.33vw;
    left: 16.77vw;
}
.plane {
    width: 55%;
    /* background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 22.60vw 15.63vw rgba(0, 0, 0, 0.7); */
    padding: 8.02vw 0px;
}

.plane .h2_title {
    color: var(--main-back, #eeeff0);
    font-size: 2.08vw;
    font-weight: 700;
    margin-bottom: 3.13vw;
    text-align: left;
}

.plane .h2_title span {
    color: var(--gold-btn, #ef9b08);
}

.btn_slide {
    text-decoration: none;
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-size: 1.67vw;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    display: block;
    padding: 0.78vw;
    border-radius: 0.52vw;
    background-color: var(--gold-btn, #ef9b08);
    transition: 0.5s all ease;
}

/* h1 */

section {
    padding-bottom: 2.08vw;
}

.red_block {
    border-radius: 1.04vw;
    background-color: var(--main-red, #cc0000);
    box-shadow: 0px 0px 2.08vw 0px rgba(0, 0, 0, 0.25);
    padding: 1.04vw;
}

.white_block {
    border-radius: 1.04vw;
    background-color: var(--main-back, #eeeff0);
    box-shadow: 0px 0px 2.08vw 0px rgba(0, 0, 0, 0.25);
    padding: 1.56vw;
}
h3 {
    font-size: 1.04vw;
    font-weight: 700;
    margin-bottom: 0.78vw;
}
#bonus_ad,
#mirror_ad,
#feedback_ad,
#about_ad {
    padding-top: 2.08vw;
}
#ad h3 {
    color: var(--gold-btn, #ef9b08);
    text-align: center;
    text-transform: uppercase;
}
.h3_title {
    color: var(--gold-btn, #ef9b08);
    text-align: center;
    text-transform: uppercase;
}

/* ogl */

#ogl .container {
    display: flex;
    justify-content: space-between;
}

.ogl_block {
    width: 100%;
    border-radius: 1.04vw;
    background-color: var(--main-back, #eeeff0);
    box-shadow: 0px 0px 2.08vw 0px rgba(0, 0, 0, 0.25);
    margin-right: 3.65vw;
}
.ogl_block h2 {
    border-top-left-radius: 1.04vw;
    border-top-right-radius: 1.04vw;
    padding: 0.78vw 0;
    background-color: var(--main-red, #cc0000);
    color: var(--main-back, #eeeff0);
    margin-bottom: 0.52vw;
}
.ogl_block ul {
    padding-bottom: 1px;
    list-style-type: none;
}
.ogl_block a {
    color: var(--text-main, #000);
    text-decoration: none;
    font-weight: 400;
    font-size: 0.83vw;
    display: flex;
    padding: 0.52vw 2.6vw;
    align-items: center;
    margin-bottom: 0.52vw;
    transition: 0.5s all ease;
    width: auto;
}
.ogl_block a::before {
    content: "";
    background-image: url(./arrow_right.svg);
    background-size: 100% 100%;
    color: var(--text-main, #000);
    text-decoration: none;
    font-weight: 400;
    margin-right: 0.52vw;
    height: 1.04vw;
    width: 1.04vw;
    display: block;
}
.ogl_block a:hover {
    color: var(--main-back, #eeeff0);
}
.ogl_block a:hover {
    background-color: var(--main-red, #cc0000);
}
.bonus {
    width: 100%;
    border-radius: 1.04vw;
    background-image: url(./slide/women.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.04vw;
}
.bonus:hover .get_bonus {
    color: var(--main-red, #cc0000);
    background: var(--main-back, #eeeff0);
}
.bonus_logo {
    display: block;
    width: 10.42vw;
    height: auto;
    padding: 0.78vw;
    border-radius: 0px 0px 0.52vw 0.52vw;
    background: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}
.center {
    display: flex;
    width: 70%;
    margin-bottom: 5px;
}
.left {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1.04vw 0px 0px 1.04vw;
    background: rgba(135, 0, 0, 0.45);
    width: 100%;
    height: 11.2vw;
}
.left p {
    color: var(--main-back, #eeeff0);
    font-size: 1.04vw;
    font-weight: 700;
}
.left span {
    color: var(--main-back, #eeeff0);
    font-size: 2.5vw;
}
.right {
    width: 100%;
    height: 11.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 1.04vw 1.04vw 0px;
    background: rgba(0, 0, 0, 0.45);
    padding: 1.04vw;
}
.exclisive {
    color: var(--main-back, #eeeff0);
    text-shadow: 0px 0px 0.52vw var(--main-back, #eeeff0);
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.exclisive span.deposite {
    color: var(--main-back, #eeeff0);
    text-shadow: none;
    font-size: 0.83vw;
    text-transform: none;
}
.exclisive span.deposite span {
    color: var(--main-back, #eeeff0);
    font-size: 1.04vw;
}
.promo {
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-size: 0.83vw;
    font-weight: 700;
}
.promo span {
    color: var(--main-back, #eeeff0);
    font-size: 1.25vw;
    background: linear-gradient(90deg, #008079, #7b0015);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.1vw transparent;
    text-stroke: 0.1vw transparent;
}
.get_bonus {
    color: var(--main-back, #eeeff0);
    font-size: 1.25vw;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.52vw;
    padding: 0.94vw 2.34vw;
    background: var(--main-red, #cc0000);
    margin-bottom: 5px;
    transition: 0.5s all ease;
}
.wallets {
    display: flex;
    width: 20.83vw;
    padding: 0.26vw 0.78vw;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.52vw;
    background: rgba(0, 0, 0, 0.6);
}
.wallets img {
    width: 2.4vw;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid_bonus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.small_red_block {
    display: flex;
    width: 15.63vw;
    height: 8.73vw;
    padding: 0.78vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.04vw;
    background-color: var(--main-red, #cc0000);
    margin: 0.52vw auto;
}

.small_red_block img {
    height: 2.6vw;
    margin-bottom: 0.52vw;
}

.small_red_block p {
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-weight: 600;
    font-size: 0.83vw;
}
.small_red_block p span {
    color: var(--main-back, #eeeff0);
    text-align: center;
    font-weight: 400;
}

.rating_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .rating_section {
    margin-bottom: 0.78vw;
}

.info {
    width: 25vw;
}

.std_text {
    margin-bottom: 0.78vw;
    font-size: 0.83vw;
}

.std_text span,
span.std_text {
    color: var(--main-red, #cc0000);
    text-transform: uppercase;
}
.std_img {
    margin-bottom: 0.78vw;
    width: 100%;
    height: auto;
    border-radius: 1.04vw;
}

.link {
    width: 17.71vw;
    display: block;
    text-decoration: none;
}
.link img {
    width: 100%;
}

.rating_block {
    height: auto;
    width: 17.71vw;
    margin: 0;
}
.rating span {
    color: #fff;
    text-align: center;
    font-size: 2.08vw;
    font-weight: 700;
    text-transform: uppercase;
}
.rating {
    color: #fff;
    text-align: center;
    font-size: 0.83vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.52vw;
}

.stars {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0.52vw 0;
}
.stars img {
    width: 2.08vw;
    height: 2.08vw;
}
.rating_block img {
    height: auto;
    margin-bottom: 0px;
}

.std_ul {
    width: fit-content;
    margin-bottom: 0.52vw;
}

.std_ul li {
    display: flex;
    padding: 0.52vw;
    align-items: center;
    border-radius: 0.52vw;
    background: var(--main-back, #eeeff0);
    box-shadow: 0px 0px 0.52vw 0px rgba(0, 0, 0, 0.25);
    margin-top: 0.52vw;
    font-size: 0.83vw;
}
.std_ul li p {
    width: fit-content;
}
.std_ul li::before {
    content: "";
    background-image: url(./point.svg);
    background-size: 100% 100%;
    margin-right: 0.52vw;
    width: 0.9vw;
    height: 0.9vw;
}
.std_ul li img {
    margin-right: 0.52vw;
}
.std_ul li a,
.std_text a {
    color: var(--main-red, #cc0000);
    font-size: 0.83vw;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s all ease;
}
.std_text a:hover {
    color: var(--gold-btn, #ef9b08);
}
.quation_block {
    margin-bottom: 1.04vw;
}
.quation {
    display: flex;
    padding: 1.3vw;
    align-items: center;
    border-radius: 1.3vw;
    background: var(--main-red, #cc0000);
    box-shadow: 0px 0px 2.08vw 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s all ease;
}
.quation:hover {
    cursor: pointer;
}

.quation p {
    color: var(--main-back, #eeeff0);
    font-size: 1.04vw;
    font-weight: 700;
}

.plus {
    position: relative;
    margin-right: 0.52vw;
    height: 1.56vw;
    width: 1.56vw;
    transition: 0.5s all ease;
}
.plus img {
    width: 100%;
}

.plus img.vert {
    position: absolute;
    left: 0;
    top: 0.57vw;
    transform: rotate(90deg);
}
.ans {
    width: 95%;
    padding: 1.04vw;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    border-radius: 0px 0px 1.3vw 1.3vw;
    background: var(--main-back, #eeeff0);
    box-shadow: 0px 0px 2.08vw 0px rgba(0, 0, 0, 0.25);
}

table {
    width: 100%;
    border-radius: 0.52vw;
    background: var(--main-back, #eeeff0);
    box-shadow: 0px 0px 0.52vw 0px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    overflow: hidden;
    margin-bottom: 0.78vw;
    font-size: 0.83vw;
}
thead {
    background: var(--main-red, #cc0000);
}
thead th {
    text-align: left;
    font-weight: 500;
    color: var(--main-back, #eeeff0);
}
th,
td {
    padding: 0.52vw 1.56vw;
}
tbody tr:nth-child(odd) {
    background-color: var(--table-first, #ffebee);
}

tbody tr:nth-child(even) {
    background-color: var(--table-sec, #ffcdd2);
}
h4 {
    font-size: 0.94vw;
    margin-bottom: 0.78vw;
}
.rotated {
    transform: rotate(225deg);
}
.scroll_top {
    position: fixed;
    display: none;
    bottom: 1.56vw;
    right: 1.56vw;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-red, #7b0015);
    z-index: 1;
    transition: 0.5s all ease;
}
.scroll_top:hover {
    background-color: var(--gold-btn, #ef9b08);
    cursor: pointer;
}
.gam_menu,
.gam_block {
    display: none;
}

@media screen and (max-width: 1920px) {
    .slide1 {
        background-image: url("./slide/slide1_1440.webp");
    }
    .slide2 {
        background-image: url("./slide/slide2_1440.webp");
    }
    .slide3 {
        background-image: url("./slide/slide3_1440.webp");
    }
    .bonus {
        background-image: url("./slide/women_1440.webp");
    }
    :root {
        --container-width: 83%;
    }
}
@media screen and (max-width: 1024px) {
    .slide1 {
        background-image: url("./slide/slide1_1024.webp");
    }
    .slide2 {
        background-image: url("./slide/slide2_1024.webp");
    }
    .slide3 {
        background-image: url("./slide/slide3_1024.webp");
    }
    .bonus {
        background-image: url("./slide/women_1024.webp");
    }
    header nav,
    .btn {
        display: none;
    }
    .link .btn {
        display: flex;
    }
    .gam_menu {
        display: block;
    }
    .gam_block {
        display: block;
        height: 100vh;
        padding: 20px;
        z-index: 2;
        position: fixed;
        background-color: var(--main-back, #eeeff0);
        box-shadow: 4px 0px 10px 2px rgba(0, 0, 0, 0.25) inset;
        right: -200px;
        transition: 0.5s all ease;
    }
    .gam_block.active {
        right: 0;
    }
    .gam_block .btn {
        display: block;
    }
    .cross {
        display: block;
        margin: 0 0 10px auto;
    }
    .gam_block ul {
        list-style-type: none;
        margin-bottom: 10px;
    }
    .gam_block li {
        padding: 10px 0;
    }
    .scroll_top {
        width: 50px;
        bottom: 30px;
        right: 30px;
        padding: 10px;
        border-radius: 5px;
    }
    :root {
        --container-width: 90%;
    }

    .chip_back {
        display: none;
    }
    .logo {
        width: 150px;
    }
    .grid,
    .grid_bonus {
        grid-template-columns: repeat(2, 1fr);
    }
    .rating_section {
        flex-direction: column;
    }
    .link {
        order: 2;
    }
    .info {
        order: 1;
        width: 100%;
    }
    .rating_block {
        order: 3;
    }
    header nav ul a,
    .btn,
    .ogl_block a,
    .exclisive span.deposite,
    .promo,
    .small_red_block p,
    .std_text,
    .rating,
    .std_ul li,
    .std_ul li a,
    .std_text a,
    table,
    footer .container {
        font-size: 14px;
    }
    h3,
    .left p,
    .exclisive span.deposite span,
    .quation p {
        font-size: 16px;
    }
    h4 {
        font-size: 18px;
    }
    .btn_slide {
        font-size: 20px;
    }
    .exclisive,
    .promo span,
    .get_bonus,
    h2,
    .h2_title,
    .plane .h2_title,
    .rating span {
        font-size: 24px;
    }
    h1,
    .left span {
        font-size: 30px;
    }
    .red_block,
    .white_block,
    .ogl_block,
    .bonus,
    .std_img {
        border-radius: 20px;
    }
    .quation,
    .small_red_block {
        border-radius: 15px;
    }
    .std_ul li,
    table {
        border-radius: 10px;
    }
    .btn,
    .get_bonus,
    .wallets,
    .btn_slide {
        border-radius: 7px;
    }
    .ogl_block h2 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .right {
        border-radius: 0px 20px 20px 0px;
        height: auto;
    }
    .left {
        border-radius: 20px 0px 0px 20px;
        height: auto;
    }
    .red_block,
    .small_red_block {
        padding: 15px;
    }
    header,
    footer {
        padding: 15px 0;
    }
    .small_red_block {
        width: 290px;
        height: 135px;
        margin: 10px auto;
    }
    .small_red_block img {
        height: 40px;
    }
    .stars img {
        width: 35px;
        height: 35px;
    }
    .link {
        width: 290px;
    }
    .center {
        width: 360px;
        height: 180px;
    }
    .bonus_logo {
        width: 150px;
        padding: 10px;
        border-radius: 0px 0px 5px 5px;
    }
    #ogl .container {
        display: block;
    }
    .bonus {
        height: 400px;
        padding-bottom: 10px;
    }
    .std_ul {
        margin-bottom: 10px;
    }
    .std_ul li {
        padding: 8px;
        margin-top: 10px;
    }
    .std_img {
        display: block;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .wallets {
        width: 300px;
    }
    .wallets img {
        width: 40px;
    }
    .ogl_block a::before,
    .std_ul li::before {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .plane {
        padding: 40px 0;
    }
    h2,
    .h2_title,
    .plane .h2_title,
    .std_text,
    .container .rating_section,
    .link,
    h3,
    h4 {
        margin-bottom: 10px;
    }
    .ogl_block,
    .quation_block {
        margin-bottom: 15px;
    }
    section {
        padding-bottom: 15px;
    }
    .stars {
        margin: 5px 0;
    }
    .rating,
    .ogl_block h2 {
        margin-bottom: 5px;
    }
    .ogl_block a {
        padding: 15px 15px;
    }
    th,
    td,
    .btn,
    .btn_slide,
    .ogl_block h2 {
        padding: 10px;
    }
    .get_bonus,
    .wallets {
        padding: 10px 15px;
    }
    .quation,
    .ans,
    .white_block,
    .red_block {
        padding: 15px;
    }
    .ogl_block a {
        width: auto;
    }
    .std_ul li p {
        width: fit-content;
    }
    .plus {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 700px) {
    .slide1 {
        background-image: url("./slide/slide1_700.webp");
    }
    .slide2 {
        background-image: url("./slide/slide2_700.webp");
    }
    .slide3 {
        background-image: url("./slide/slide3_700.webp");
    }
    .bonus {
        background-image: url("./slide/women_700.webp");
    }
    .grid,
    .grid_bonus {
        grid-template-columns: 1fr;
    }
    table {
        display: inline-block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .plane {
        width: 85%;
    }
    .center {
        height: 150px;
    }
    
    .ogl_block a::before,
    .std_ul li::before {
        height: 15px;
        width: 15px;
    }
}
@media screen and (max-width: 450px) {
    .slide1 {
        background-image: url("./slide/slide1_450.webp");
    }
    .slide2 {
        background-image: url("./slide/slide2_450.webp");
    }
    .slide3 {
        background-image: url("./slide/slide3_450.webp");
    }
    .bonus {
        background-image: url("./slide/women_450.webp");
    }
    .small_red_block,
    .link,
    .rating_block {
        width: 100%;
    }
    .center {
        width: 90%;
    }
    .bonus_logo {
        width: 120px;
    }
    .ogl_block a {
        padding: 12px;
    }
    header nav ul a,
    .btn,
    .ogl_block a,
    .exclisive span.deposite,
    .promo,
    .small_red_block p,
    .std_text,
    .rating,
    .std_ul li,
    .std_ul li a,
    .std_text a,
    table,
    h3,
    .left p,
    .exclisive span.deposite span,
    .quation p,
    footer .container {
        font-size: 14px;
    }
    h4 {
        font-size: 16px;
    }
    th,
    td,
    .btn,
    .btn_slide,
    .ogl_block h2 {
        padding: 5px;
    }
    .btn_slide,
    .exclisive {
        font-size: 14px;
        padding: 5px;
    }
    .promo span,
    .get_bonus,
    h2,
    .h2_title,
    .plane .h2_title,
    .rating span {
        font-size: 20px;
    }
    h1,
    .left span {
        font-size: 24px;
    }
    .wallets {
        width: 90%;
    }
}
